@using Microsoft.AspNetCore.Identity
@model IdentityRole

<form class="mt-3" method="post">
    <div class="mb-3">
    <label class="form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    </div>

    <button type="submit" class="btn btn-success">Add Role</button>
</form>