@using HRM.Web.ViewModels
@model EmployeeViewModel

<div class="card mt-2 p-4">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DesignationName" class="form-label"></label>
            <select asp-for="DesignationId" asp-items="@ViewData["Designations"] as IEnumerable<SelectListItem>" class="form-select">
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Level" class="form-label"></label>
            <input asp-for="Level" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DepartmentName" class="form-label"></label>
            <select asp-for="DepartmentId" asp-items="@ViewData["Departments"] as IEnumerable<SelectListItem>" class="form-select">
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="JoinDate" class="form-label"></label>
            <input asp-for="JoinDate" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Avatar" class="form-label">Profile Image</label>
            <input class="form-control" asp-for="Avatar">
        </div>
        <input type="hidden" asp-for="Active" />
        <input type="hidden" asp-for="ProfileImage" />

        <button type="submit" class="btn btn-success"> Update Employee</button>
    </form>
</div>